.xans-layout-searchheader { width:142px; font:0/0 ''; }
.xans-layout-searchheader fieldset { background:#e2e2e2;  }
.xans-layout-searchheader #keyword { width:105px; height:25px; padding:0 0 0 10px; border:0; font:12px/25px 'NG'; color:#333; background:none; }